<html>
  <head>
    <meta charset="utf-8">
    <title>My Cooking App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='style.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    </head>
 

<body>
  <div id="banner">
  <h1> <strong>My Cooking App !</strong></h1>
  <p>Don't be upsetti, eat some spaghetti</p>
  <p><button type="button" class="btn btn-default btn-lg btn-danger" <a href="#">Start now</a></a></button> </p>    
  </div>



<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card">
  <img src="images/noun_848423_cc.png" alt="picture description" width="80">
  <h2><strong>F</strong></h2>
  <p>For a very <strong>Fast</strong> app </p>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card">
  <img src="images/original.png" alt="picture description" width="80">
  <h2><strong>O</strong></h2>
  <p>For <strong>Originality</strong></p>
  </div>
  </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
    <img src="images/offer.png" alt="picture description" width="80">
    <h2><strong>O</strong></h2>
    <p>For a specific <strong>Offer</strong></p>    
    </div>
    </div>
 
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
    <img src="images/didactic.png" alt="picture description" width="80">
    <h2><strong>D</strong></h2>
    <p>For a <strong>Didactic</strong> app</p>
    </div>  
    </div>


  </div>
  </div>
 
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-4">
  <div id="WufooForm">
 <div id="wufoo-z1ikqpcp1xuxh3q">
Fill out my <a href="https://aconcas.wufoo.com/forms/z1ikqpcp1xuxh3q">online form</a>.
</div>
<script type="text/javascript">var z1ikqpcp1xuxh3q;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'aconcas',
'formHash':'z1ikqpcp1xuxh3q',
'autoResize':true,
'height':'398',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1ikqpcp1xuxh3q = new WufooForm();z1ikqpcp1xuxh3q.initialize(options);z1ikqpcp1xuxh3q.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>




  </div>
    
  </div>
  </div>
  
</div>

<div id="footer">
  <p>This is a playground landing ©Le Wagon</p>
  <ul class="list-inline"> 
  <li><a href="#"><i class="fa fa-youtube" id="fa-youtube"></i></a></li>
  <li><a href="#"><i class="fa fa-facebook" id="fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter" id="fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-github" id="fa-github"></i></a></li>
</ul>
</div>
</body>
</html>
